<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            font-family: Arial, sans-serif;
            background: linear-gradient(135deg, #c850c0, #4158d0);
            color: #ffffff;
        }

        .container {
            max-width: 500px;
            margin: 50px auto;
            background: linear-gradient(135deg, #043280, #8813d1);
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .title1 {
            text-align: center;
            color: #ff7b25;
            margin-bottom: 30px;
        }
        .title2 {
            text-align: center;
            color: #e7efe4;
            margin-bottom: 30px;
        }

        .question {
            margin-bottom: 20px;
            font-weight: bold;
            color: #ffffff;
        }

        .options {
            margin-bottom: 30px;
        }

        .option {
            margin-bottom: 20px;
            color: #ffffff;
        }

        input[type="text"] {
            margin-right: 10px;
            transform: scale(1.2);
        }

        input[type="text"]:checked {
            background: linear-gradient(135deg, #5ee7df, #b490ca);
        }

        input[type="text"]:checked:after {
            content: '';
            display: block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: white;
            position: relative;
            top: 3px;
            left: 3px;
        }

        .options::before,
        .options::after {
            content: "";
            display: table;
            clear: both;
        }

        .options {
            border-radius: 5px;
            padding: 20px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            transition: box-shadow 0.3s;
            background: linear-gradient(135deg, #35424a, #1f2d3d);
        }

        .options:hover {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        .options:focus-within {
            border: 1px solid #ff7b25;
        }

        label {
            display: block;
            margin-bottom: 10px;
            color: #ffffff;
            font-weight: bold;
        }

        input[type="text"] {
            display: inline-block;
            margin-right: 10px;
            transform: scale(1.2);
        }

        #done {
            display: block;
            width: 100%;
            padding: 12px;
            background: linear-gradient(135deg, #ff7b25, #fdd803);
            color: #ffffff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            margin-top: 20px;
        }

        #done:hover {
            background: linear-gradient(135deg, #e53935, #e35d5b);
        }
    </style>
    <title>Quiz Form</title>
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>

    <div class="container">
        <div class="title1">
            <h2 style="font-weight: bold;">Welcome to the Examination</h2>
        </div>
        <div class="title2">
            <h4 style="font-weight: bold;">Solve this 5 Questions on {{topic}}</h4>
        </div>
        <form id="mcq_form">
            {{#each tests}}
            <div class="question">
                {{this.q}}
            </div>
            <div class="options">
                <div class="option">
                    <label value="{{this.o1}}"> a. {{this.o1}}</label>
                    <label value="{{this.o2}}"> b. {{this.o2}}</label>
                    <label value="{{this.o3}}"> c. {{this.o3}}</label>
                    <label value="{{this.o4}}"> d. {{this.o4}}</label>
                    <input type="hidden" name="ak" value="{{this.a}}" id="ak" readonly class="form-control">
                    <input type="hidden" name="t" value="{{this.t}}" id="t" readonly class="form-control" hidden>
                    <select name="a" id="a" class="form-control" style="border: 2px solid #ff7b25;">
                        <option value="None">you have not selected any option.</option>
                        <option value="a">you have selected option A.</option>
                        <option value="b">you have selected option B.</option>
                        <option value="c">you have selected option C.</option>
                        <option value="d">you have selected option D.</option>
                    </select>
                </div>
            </div>
            {{/each}}
            <button type="submit" name="done" id="done" class="btn" style="font-weight: bold;">Submit Quiz</button>
        </form>
    </div>

    <script>
        $(document).ready(function () {
            $("#mcq_form").validate({
                submitHandler: function (form) {
                    $.ajax({
                        type: "POST",
                        url: "/mcq_post",
                        data: $("#mcq_form").serialize(),
                        success: function (response) {
                            if (response.success == true) {
                                if(response.result < 3){
                                    alert("you have scored " + response.result + " You will have to give the test again");
                                }
                                else{
                                    alert("You got more than 60% Great job!" + " Score = " + response.result + "Let's move to the next Topic!!");
                                }
                                window.location.href = "http://localhost:4500";
                            } else {
                                alert(response.message);
                            }
                        }
                    });
                }
            })
        })
    </script>
</body>

</html>